---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "my_awesome_demo_site",
  "short_name": "my_awesome_demo_site",
  "display": "standalone",
  "start_url": "/"
}
